@import 'globals';

.form-field {
  display: flex;
  flex-direction: column;
  
  .form-input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid $primary;
    padding: 5px 5px 5px 0;
    background: transparent;
    transition: .3s;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: $primary;

    &:focus {
      border-bottom: 2px solid white;
      outline: none !important;
      color: white;
    }
    
    &:focus + label{
      color: white;
      font-weight: 700;
    }
  }

  label {
    color: black;
    transition: .3s;
    font-size: .8rem;
  }
}