@import 'globals';

.full-page-loader {
  position: absolute;
  z-index: 9;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin: 0;
  display: flex;
  background: white;
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid $red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}